PORT=3001

DATABASE_URL=postgresql://user:password@host:5432/northpay
JWT_SECRET=your-secret-key

WHATSAPP_CLIENT=
EMAILREGEX=^[a-zA-Z0-9.%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$
WHATSAPP_URL=

RELATIVE_PATH=
NODE_ENV=development

ACCOUNT_SSID=
AUTH_TWILIO_TOKEN=
WHATSAPP_REGEX=^\+\d{6,14}$
MAGIC_URL=http://localhost:3000/invite

NODEMAILER_USER=
NODEMAILER_PASS=

SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
BUCKET_NAME=northpay_documents

DOCUSEAL_API_KEY=
DOCUSEAL_API_URL=https://api.docuseal.com
DOCUSEAL_TEMPLATE_ID=
CLIENT_URL=http://localhost:3000
