PORT=3000

DATABASE_URL=postgresql://postgres:password@localhost:5432/northpay
# DATABASE_INTERNA=postgresql://northpay_user:j3d7iAUVmG7VxTK8lztTpIyxiGm8Mrg3@dpg-d7uu8ol0lvsc73861he0-a/northpay
PSQL COMMAND=PGPASSWORD=j3d7iAUVmG7VxTK8lztTpIyxiGm8Mrg3 psql -h dpg-d7uu8ol0lvsc73861he0-a.oregon-postgres.render.com -U northpay_user northpay
JWT_SECRET=supersecret

WHATSAPP_CLIENT=
EMAILREGEX=
WHATSAPP_URL=

RELATIVE_PATH=
NODE_ENV= "development"